.navbar__container {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
}

.navbar__menu {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
}

.navbar__menu li {
  margin-right: 20px;
}

.navbar__menu a {
  color: #fff;
  text-decoration: none;
}

.navbar__menu a:hover {
  text-decoration: underline;
}

.navbar__menu li:last-child {
  margin-right: 0;
}